<!-- Trevor Withers -->
<!-- Sets up the partial header -->
<html>
    <head>
        <title><%= typeof title !== 'undefined' ? title : 'Default' %></title>
        <link rel = "stylesheet" href="/style.css">
    </head>
    <body>
        <div class = "grid-container">
            <div class = "item1">
                <h1>Trevor's Weather Page</h1>
            </div>
            <div class = "item2">
                    <ul><a href="http://localhost:3000">Home</a></th></ul>
                    <ul><a href="http://localhost:3000/weather">Weather</a></th></ul>
                    <ul><a href="http://localhost:3000/weather/kingston">Kingston Weather</a></ul>
                    <ul><a href="http://localhost:3000/weather/ottawa">Ottawa Weather</a></ul>
                    <ul><a href="http://localhost:3000/weather/toronto">Toronto Weather</a></ul>
            </div>